* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Work Sans', sans-serif;
  background-image: radial-gradient(circle, #b7bbc1, #8d9497, #686e6e, #474a49, #282927);
}

/*------------------------------------------- HOMEPAGE ------------------------------------------- */

.banner-text {
  color: rgb(210, 210, 210);
  text-align: center;
}

.h-line {
  color: #ddd;
}

.card-bg {
  background-color: #121212;
}

.all-card {
  text-align: justify;
  color: #727373;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px rgba(250, 250, 251, 0.841), 0 8px 16px -8px hsla(0, 2%, 83%, 0.504), 0 -6px 16px -6px hsla(0, 6%, 79%, 0.418);
  transition: all ease 200ms;
}

.all-card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}



/*------------------------------------------- LOGIN AND REGISTER ------------------------------------------- */

.wrapper {
  max-width: 300px;
  width: 100%;
  margin: 1rem auto;
}

.register-container {
  position: relative;
  border-radius: 5px;
  background: #121212;
}

.register-container::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  background: linear-gradient( #403d46, #806f7a);
  border-radius: inherit;
  z-index: -1;
  transform: skewX(4deg) rotate(3deg);
}

.have-account {
  color:#806f7a; 
}

.log-here {
  color:#f2e3ed; 
  text-decoration:none; 
  cursor:pointer;  
}

.log-here:hover {
  color:rgb(238, 247, 249); 
  text-decoration:none; 
  cursor:pointer;  
}

.login-container {
  position: relative;
  border-radius: 5px;
  background: #121212;
}

.login-container::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  background: linear-gradient( #403d46, #806f7a);
  border-radius: inherit;
  z-index: -1;
  transform: skewX(4deg) rotate(3deg);
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  padding: 20px;
  border-radius: 5px;
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: block;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-top: 0.3rem;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form {
  margin-top: 1rem;
}

.email {
  margin-bottom: 0.75rem;
}

.password {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  display: block;
}

.login-register-btn {
  display: block;
  margin-top: 1.2rem;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: rgba(89, 88, 88, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  padding: 6px 16px;
  outline: 0;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  width: 100%;
  border: 0;
  transition: box-shadow 0.2s;
}


.click {
  color: #dd2476;
}

.facebook:hover {
  color:#ebfbff; 
  text-decoration:none; 
  cursor:pointer;  
}

.facebook {
  margin: 1.25rem auto 1rem auto;
}

.facebook,
.twitter {
  background-color: #806f7a;
  color: inherit;
  text-decoration: none;
  display: block;
  width: 90%;
  border: 2px solid #333;
  padding: 4px 8px;
  border-radius: 2rem;
  color: #ddd;
  display: flex;
  align-items: center;
}

.twitter:hover {
  color:#ebfbff; 
  text-decoration:none; 
  cursor:pointer;  
}

.twitter {
  margin-left: auto;
  margin-right: auto;
}
.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 0.2rem;
  font-size: 0.8rem;
  color: black;
}

/*------------------------------------------- SHOP ------------------------------------------- */

.card1 {
  min-height: 100%;
  text-align: justify;
}

.card2 {
  height: 5em;
}

.card3 {
  height: 14em;
  white-space: pre-wrap;
  overflow: auto;
}

/*------------------------------------------- CART ------------------------------------------- */
.cart-body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--pale-blue);
}


.cart-card {
  display: inline-flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(183, 183, 183);
  width: 400px;
}

.card__content {
  padding: 30px;
  text-align: center;
}

.content__title {
  font-weight: 900;
}

.cart-footer {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
}

.checkout-item {
  display: inline;
}
